#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
}
h2 {
  margin: 0;
  padding: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
