.nake {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.nake button {
  border: none;
}
.relay {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 2px;
  padding: 0 2px;
  font-family: inherit;
  background-color: #ffe1e1;
  font-size: smaller;
  height: fit-content;
}
.hint {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: medium;
  font-weight: 500;
  font-family: inherit;
  background-color: #447cff;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
  margin: 0 2px;
  padding: 0 4px;

  height: 2em !important;
  width: "fit-content";
  transition: 0.2s;
}
.hint:hover {
  background-color: #5789ff;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35);
}
.hint:active {
  transform: scale(0.98);
}
.hint:focus,
.hint:focus-visible {
}

#input {
  padding: 0 2px !important;
  border-radius: 4px !important;
  border: 1px solid #8caeff !important;
  background-color: #fff !important;
  color: #000 !important;
  height: 2em !important;
  font-size: medium;
}
#input::placeholder {
  opacity: 0.5;
}
.relayInput {
  border-color: #8caeff;
}
.invalidInput {
  border-color: #ff8080 !important;
}

.copyButton {
  background-color: rgba(0, 0, 0, 0);
}
.copyButton:hover {
  opacity: 0.75;
}
#batuButton {
  background-color: rgba(0, 0, 0, 0);
}
#batuButton:hover {
  opacity: 0.75;
}
